.container {
    padding: 10pt;
    font-size: 16pt;
}

.post {
    background-color: #393939;
    border-radius: 5%;
    margin: 10pt;
    padding: 4pt;
}

.header {
    display: flex;
    gap: 10pt;
}

.username {
    margin-left: auto;
}

.headerLink {
    background-color: #393939;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10pt;
    padding: 10pt;
    font-size: 16pt;
}

.headerLinkActive {
    background-color: #aaaaaa;
    color: #000000;
}

.headerLinkTransitioning {
    background-color: #00ff00;
}

.headerLinkPending {
    background-color: #ff0000;
}
